/* apply to all elements on html */
* {
    /* center everything */
    text-align: center;
}

/* apply styles to choices div container class */
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* apply styles to computer-choice div container id */
#computer-choice {
    padding: 1em 1em;
}

#scoreboard {
    /* text-align: center; */
    padding: 1em 1em;
    font-size: 24px;
    white-space: pre-wrap;
}

#weapon-choices-text {
    /* text-align: center; */
    margin: 1em 1em;
}

#result {
    margin: 1em 1em;
}

#winner {
    margin: 1em 1em;
}